<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask-CKEditor Demo</title>
    {{ ckeditor.load() }}
</head>
<body>
	<div class="warpper" style="width: 700px; margin: auto">
		<h1>Flask-CKEditor Demo</h1>
		<form method="post">
			{{ form.csrf_token }}
			{{ form.title.label }}<br>
			{{ form.title }}<br><br>
			{{ form.ckeditor.label }}<br>
			{{ form.ckeditor }}
			<br>
			{{ form.submit }}
		</form>
	</div>
	<script type="text/javascript">
		CKEDITOR.replace( 'ckeditor', {
		    language: 'zh',
		    toolbarCanCollapse: true,
		    extraPlugins: 'autogrow',
		    autoGrow_maxHeight: 700,
		    codeSnippet_theme: 'monokai_sublime',
		    filebrowserUploadUrl: '/upload',
		    // filebrowserBrowseUrl: '',
		});
	</script>
</body>
</html>

